<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/lib/vue.js"></script>
    
    <link rel="stylesheet" href="/lib/leaflet/leaflet.css">
    <script src="/lib/leaflet/leaflet.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/geoObject.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="index.css">
    
    <!--Vue componentJS-->
    <script src="templates/tosearchsvg.js"></script>
    <script src="/templates/maplist.js"></script>

    <style>.cls-1{fill:#c6c6c6;}.cls-2{fill:#009640;}.cls-3{fill:none;stroke:#009640;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style>
</head>
<body class="px-2">
   <!--
    1.Implement sticky header
    2.Implement scrollable list


!!!! IMPORTANT !!!!!

Try this:
Get WMS AND WFS
Color the WFS to be transparrent and when clicked, show it slightly highlighted.

    -->
    <!--
</span>:class="sortOrders[key] > 0 ? 'asc' : 'dsc'"

    -->
    <!--
    <div id="maplist" class="row mx-0 pt-2">
        <div class="map-container col-6 px-0">
            <div id="map"></div>
        </div>        
        <div class="col-6 px-0 border">
           <div class="input-group pb-1"> <div class="input-group-prepend">
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kolumn visning
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" v-for="(value, key, index) in tableData" @click="removeHeading(value, key)">{{value}}</a>
                        </div>
                    </div>
                <span class="input-group-text " id="">Søg &nbsp<searchicon style="width:15px;"></searchicon></span>
              </div> <input type="text" class="col" v-model="search"><button @click="clearSearch()" class="btn btn-danger" v-if="search && search.length > 0">Slet</button>
            </div>
            <div class="table-wrap">
                <table class="table table-hover table-bordered">
                    <thead class="">
                        <tr>
                            <th v-for="(value, key, index) in tableData" :id="key" @click="sortBy(value, key)"  :class="key == sortingKey ? 'active': ''">{{value}} <span class="arrow"  :class="order > 0 &&  key == sortingKey ? 'asc' : 'dsc'"></span> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="geo in filteredData.features">
                            <td v-for="(value, key, index) in tableData" :id="key" @click="findWithSearch(geo.properties[key])" :class="value" style="position:relative;">{{geo.properties[key]}} <copytosearch style="width:15px; position:absolute; top:7; right:7px;"></copytosearch></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>-->
    <div id="maplist">
        <maplistcomponent :data="data" :columns="tableData" ref="maplist"></maplistcomponent>
    </div>


    <script type="text/x-template" id="maplist-template">
        <div id="maplist" class="row mx-0 pt-2">
            <div class="map-container col-6 px-0">
                <div id="map"></div>
            </div>        
            <div class="col-6 px-0 border">
                <div class="input-group pb-1"> <div class="input-group-prepend">
                     <div class="dropdown">
                             <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Kolumn visning
                             </button>
                             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <!--<a class="dropdown-item" href="#" v-for="(value, key, index) in columns" @click="removeHeading(value, key)">{{value}}</a>-->
                                <div class="dropdown-item" v-for="(value, key, index) in columns">
                                        <input type="checkbox" :id="key" v-model="visibleColumns" :value="key" >
                                        <label :for="key">{{value}}</label>
                                </div>
                             </div>
                         </div>
                     <span class="input-group-text " id="">Søg &nbsp<searchicon style="width:15px;"></searchicon></span>
                   </div> <input type="text" class="col" v-model="search"><button @click="clearSearch()" class="btn btn-danger" v-if="search && search.length > 0">Slet</button>
                 </div>
                 <div class="table-wrap">
                     <table class="table table-hover table-bordered">
                         <thead class="">
                             <tr>
                                 <th v-for="(value, key, index) in columns" :id="key" @click="sortBy(value, key)" v-if="visibleColumns.indexOf(key) > -1" :class="key == sortingKey ? 'active': ''">{{value}} <span class="arrow"  :class="order > 0 &&  key == sortingKey ? 'asc' : 'dsc'"></span> </th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr v-for="geo in filteredData">
                                 <!--@click="-->
                                 <td v-for="(value, key, index) in columns" :id="key"  v-if="visibleColumns.indexOf(key) > -1" @click="updateDetailedView(geo), findWithSearch(geo.properties[key])"" :class="value" style="position:relative;">{{geo.properties[key]}} <!--<copytosearch style="width:15px; position:absolute; top:7; right:7px;"></copytosearch> --></td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
             <div class="col-6 px-0" v-if="detailedView">
                 <table class="table">
                     <thead>
                         <th>Plan nummer</th>
                         <th>Plan navn</th>
                         <th>HTML link</th>
                        <th>Status</th>
                     </thead>
                     <tbody>
                         <td>
                             {{this.detailedView.plannr}}
                         </td>
                         <td>
                            {{this.detailedView.plannavn}}
                        </td>
                        <td>
                                <a v-bind:href="this.detailedView.html">Link</a>
                        </td>
                        <td>
                            {{this.detailedView.status}}
                        </td>
                     </tbody>
                 </table>
             </div>
        </div>
    </script>
    <!--<input type="button" onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel">-->
    
    <script src="/index.js"></script>
   
    
</body>

</html>